pipeline/UpdateWatermarkValue.json
{
	"name": "UpdateWatermarkValue",
	"properties": {
		"description": "Watermark.",
		"activities": [
			{
				"name": "LKPGetOldWatermarkValue",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKPGetSrcWatermarkValue",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nSELECT MAX(LastModifytime) AS NewWaterMarkValue \nFROM data_source_table\n"
					},
					"dataset": {
						"referenceName": "AzSourceWatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrCopyActivty",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKPGetOldWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKPGetSrcWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from data_source_table where LastModifytime > '@{activity('LKPGetOldWatermarkValue').output.firstRow.WatermarkValue}' \nand LastModifytime <= '@{activity('LKPGetSrcWatermarkValue').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSetting"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSetting",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzSourceWatermark",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SyncText",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Watermark Value",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrCopyActivty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LKPGetSrcWatermarkValue').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LKPGetOldWatermarkValue').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSQLConnection",
					"type": "LinkedServiceReference"
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}